@charset "UTF-8";
@media screen and (min-width: 717px) {
  .side {
    width: 20%;
    max-width: 250px;
    min-width: 150px;
    height: 100%;
    text-align: center;
    background-color: #d0fbd0;
  }
  .side .user-names {
    width: 90%;
    height: 30px;
    font-weight: bolder;
    font-size: 20px;
    font-family: "ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro";
    overflow: auto;
  }
  .side .side-names {
    width: 90%;
    height: 80%;
    margin: 10px auto;
  }
  .side .side-names .side-name {
    width: 100%;
    margin-bottom: 20px;
    font-size: 20px;
    list-style: none;
  }
  .side .side-names .side-name .side-user-name {
    text-decoration: none;
  }
  .side .date-time-box {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(13, 5, 1, 0.9);
    background-color: rgba(13, 5, 1, 0.9);
    color: #d0fbd0;
  }
  .side .date-time-box #date-time {
    font-size: 14px;
  }
}

@media screen and (max-width: 716px) {
  .side {
    width: 100%;
    height: 30%;
    position: relative;
    background-color: #fefefe;
  }
  .side .user-names {
    width: 100%;
    height: 30px;
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
    font-family: "ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro";
    overflow: auto;
  }
  .side .side-names {
    width: 95%;
    height: 20%;
    display: flex;
    flex-wrap: nowrap;
    margin: 0 auto;
    overflow: auto;
  }
  .side .side-names .side-name {
    width: 100%;
    margin-bottom: 20px;
    font-size: 20px;
    list-style: none;
  }
  .side .side-names .side-name .side-user-name {
    text-decoration: none;
  }
  .side .date-time-box {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 90%;
    border: 1px solid rgba(13, 5, 1, 0.9);
    background-color: rgba(13, 5, 1, 0.9);
    color: #d0fbd0;
  }
  .side .date-time-box #date-time {
    font-size: 14px;
  }
}
