  <div class="comments">
    <h4>＜コメント一覧＞</h4>
    <div id="comments">
      <% @post.comments.reverse_each do |comment| %>
        <div class="comment">
          <p class="user-info">
            <strong><%= link_to "#{comment.user.nickname}", "/users/#{comment.user_id}" %>:</strong>
            <%= comment.text%>
          </p>
          <p>
            <%= comment.created_at %>
          </p>
        </div>
      <% end %>
    </div>
  </div>