// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// リセットCSS
* {
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-family: "ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","HG丸ｺﾞｼｯｸM-PRO";
  color: #333;
  margin: 0 auto;
}
h1,h2,h3,h4,h5,h6,p {
  margin: 0;
}
ul,li {
  padding: 0;
  margin: 0;
}
@media screen and (min-width: 717px) {

  // header
  .header-bar {
    width: 100vw;
    height: 20vh;
    display: flex;
    background-color: rgb(208, 251, 208);

    .header-left {
      width: 20%;
      min-width: 200px;
      height: 100%;
      position: relative;
      padding: 1% 0 0 1%;



        #logo {
          width: 45%;
          height: 40%;
          display:inline-block;
          padding-left: 3px;
          text-decoration: none;
          font-size: 33px;
          color: red;
          list-style: none;
        }
        
        #logo:active {
          /*ボタンを押したとき*/
          -webkit-transform: translateY(4px);
          transform: translateY(4px);
          box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
          border-bottom: none;
        }
    }

    .header-right {
      width: 80%;
      height: 100%;
      text-align: center;

      // 検索バー
      .header-upper {
        width: 100%;
        height: 50%;
        padding: 5px 0;

        .search-form {
          width: 60%;
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: 10px auto;

          .search-text-form {
            width: 90%;
            height: 100%;
            border-radius: 5px;
            font-size: 15px;
            padding-left: 10px;
          }
          
          .search-btn {
            width: 10%;
            min-width: 50px;
            height: 100%;
            border-radius: 50px;
          }
        }
      }

      //ログインした時
      .header-down {
        width: 100%;
        height: 50%;
        padding: 10px 0;
        display: flex;
        justify-content: space-around;
        padding-top: 4px;

        .user-name {
          width: 22%;
          height: 70%;
          font-size: large;
          margin: 20px 0 0 0;
          text-align: center;
          color: black;
          font-weight: bold;
          text-decoration: none;
        }

        .logout {
          width: 22%;
          height: 70%;
          font-size: large;
          margin: 20px 0 0 0;
          text-align: center;
          color: black;
          font-weight: bold;
          text-decoration: none;
        }

        .post-container {
          width: 22%;
          height: 70%;
          font-size: large;
          margin: 20px 0 0 0;
          text-align: center;
          color: black;
          font-weight: bold;
          text-decoration: none;
        }

        .new-post {
          width: 22%;
          height: 70%;
          font-size: large;
          margin: 20px 0 0 0;
          text-align: center;
          color: black;
          font-weight: bold;
          text-decoration: none;
        }

        // ログインしていない場合
        .user-select {
          width: 30%;
          max-width: 250px;
          height: 70%;
          max-height: 60px;
          position: relative;
          font-size: large;
          margin: 10px 0 0 10px;
          padding-top: 7px;
          border: 2px solid black;
          background-color: azure;
          color: black;
          font-weight: bold;
          cursor: pointer;
          text-decoration: none;            
        
          .login {
            font-size: large;
            color: rgb(31, 29, 29);
            text-decoration: none;
          }

          .sign-up {
            font-size: large;
            color: rgb(31, 29, 29);
            text-decoration: none;
          }
        }

        .post-container-box {
          width: 20%;
          max-width: 250px;
          height: 70%; 
          max-height: 60px; 
          margin: 10px 0 0 0;
          padding-top: 7px;
          background-color: azure;
          border: 2px solid black;
          cursor: pointer;  
          overflow: auto;
        }
      }
    }
  }

  // main部分
  .main-wrapper {
    width: 100vw;
    height: 76vh;
    display: flex;

    .post-contents {
      width: 90%;
      height: 100%;
      background-image: url('https://i.gyazo.com/4cc910e0642a22beae77e0aa61cfcf8a.jpg');
      background-size: cover;
      overflow: auto;

      .main-title {
        height: 5%;
        text-align: center;
        margin-top: 10px;
        color: orangered;
      }
      .post-lists {
        width: 90%;
        height: 90%;
        display: flex;
        margin: 0 auto;
        flex-wrap: wrap;

        .list {
          width: calc(100% / 4);
          max-width: 200px;
          min-width: 150px;
          height: 50%;
          max-height: 200px;
          min-height: 200px;
          margin: 20px 20px;
          border: 2px solid black;
          border-radius: 10px;
          list-style: none;
          background-color: hsla(59, 82%, 48%, 0.8);

          .post-img-content {
            width: 100%;
            height: 60%;
            position: relative;
            overflow: hidden;

            .post-images {
              width: 100%;
              height: 100%;
              border-radius: 8px 8px 0 0;
            }
          }

          .post-info {
            width: 100%;
            height: 40%;

            .post-title {
              width: 100%;
              height: calc(100% / 3);

            }
            .post-price {
              width: 100%;
              height: calc(100% / 1.5);
            }
          }
        }
      }

      .page-container {
        width: 100%;
        height: 4%;
        text-align: center;

        .page {
          font-size: 19px;
        }
      }
    }
  }

  // footer部分
  .footer-bar {
    width: 100vw;
    height: 4vh;
    text-align: center;
    padding-top: 3px;
    background-color: rgb(208, 251, 208);

    .footer-word {
      color: blue;
    }
  }
}